<h4 class="card-title">My ToDo's</h4>

<div class="alert alert-success" *ngIf="actionMessage">{{actionMessage}}</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Target Date</th>
      <th>Is Completed?</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}}</td>
      <td><button class="btn btn-success" (click) = 'updateTodoById(todo.id)'>Update</button></td>
      <td><button class="btn btn-warning" (click) = 'deleteTodoById(todo.id)'>Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <button class="btn btn-success" (click) = 'createTodo()'>Add</button>
</div>